{% extends 'base.html' %} 

{% block title %} New Contact {% endblock title %}

{% block content %}

<body class="text-center">
    <div class="container">
        <br>
        <h1 class="h3 mb-3 font-weight-normal">
          Add a New Contact
        </h1>
        <br>
        <form action="{{ url_for('new_contact_page') }}" method="POST" style="color: white">
            {{ form.hidden_tag() }}
            
            {{ form.name.label() }} 
            {{ form.name(class="form-control", placeholder="Name") }}

            {{ form.email.label() }} 
            {{ form.email(class="form-control", placeholder="Email") }}

            {{ form.phone.label() }} 
            {{ form.phone(class="form-control", placeholder="Phone") }}
            
            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            <br>      
        </form>
    </div>
</body>
{% endblock content %}
